.App {
  text-align: center;
  margin: 1em;
}

.vertical-divider {
  border-right: 0.01em solid #9e9e9e;
  margin: 0.5em 0;
}

.mainmenu-categories-header {
  background-color: #411bd0;
  color: #ffffff;
  margin: 0 0 -1em 0;
}

.left-margin {
  padding: 0.5em;
  text-align: left;
}

.center-margin {
  padding: 0.5em;
  text-align: center;
}

.avatar {
  background-color: #fdb600;
  color: #fff;
  margin: 0.5rem;
}
